# Python Environments
venv/
env/
__pycache__/
*.py[cod]

# Logs
logs/
*.log

# Environment Secrets
backup.env
.env
.env.local
restore.env

# IDEs and OS files
.vscode/
.idea/
.DS_Store

infra/ 
secrets/
*.pem

