ENVIRONMENT=
DATABASE_URL=
ADMIN_DATABASE_URL=
REDIS_URL=

TEST_DATABASE_URL=
TEST_REDIS_URL=


META_APP_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_BUSINESS_ACCOUNT_ID=

APP_SECRET =
WEBHOOK_VERIFY_TOKEN=

WORKER_IDENTIFIER=

GEMINI_API_KEY =

JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

DISK_CRITICAL_THRESHOLD=

WORKER_CONCURRENCY=
WORKER_BATCH_SIZE=