"""Example of the format of the .env file"""
ENVIRONMENT=""
DATABASE_URL=""
REDIS_URL=""

META_APP_ID=""
WHATSAPP_ACCESS_TOKEN=""
WHATSAPP_PHONE_NUMBER_ID=""
WHATSAPP_BUSINESS_ACCOUNT_ID=""
WEBHOOK_VERIFY_TOKEN=""

GEMINI_API_KEY=""

JWT_SECRET_KEY=""
JWT_ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=""